-- ===============================================
-- WACTC Student Products Setup (Generated from CSV)
-- ===============================================
-- This SQL uses the "class" column to categorize products.
-- Staff products have class = 'Staff'
-- Student products have class = 'HVAC', 'Auto', 'Carpentry', etc.

-- Drop program_id column if it exists (we're using class instead)
ALTER TABLE products DROP COLUMN IF EXISTS program_id;

-- Add is_active column if it doesn't exist (optional)
ALTER TABLE products ADD COLUMN IF NOT EXISTS is_active BOOLEAN DEFAULT true;

-- Remove unique constraint on product_id to allow same product in multiple classes
ALTER TABLE products DROP CONSTRAINT IF EXISTS staff_products_product_id_key;
ALTER TABLE products DROP CONSTRAINT IF EXISTS products_product_id_key;
ALTER TABLE products DROP CONSTRAINT IF EXISTS products_product_id_unique;

-- Insert student products with class names exactly as they appear in CSV
INSERT INTO products (product_id, name, colors, pricing, class, is_active) VALUES ('8300', 'HVAC Pocket Tee', 'Sport Grey', '{"S-XL": 13.0, "2X": 15.0, "3X": 16.0}', 'HVAC', true);
INSERT INTO products (product_id, name, colors, pricing, class, is_active) VALUES ('8000', 'Auto Mechanics Short Sleeve Tee', 'Black', '{"S-XL": 13.0, "2X": 15.0, "3X": 16.0}', 'Auto', true);
INSERT INTO products (product_id, name, colors, pricing, class, is_active) VALUES ('8800', 'Carpentry Polo', 'Maroon', '{"S-XL": 15.0, "2X": 17.0, "3X": 18.0}', 'Carpentry', true);

-- Update existing staff products to have class = 'Staff' if not already set
UPDATE products SET class = 'Staff' WHERE class IS NULL OR class = '';

-- ===============================================
-- Total: 21 student product entries
-- Class values: HVAC, Auto, Carpentry, Sports Medicine, Collision Repair,
--               Electrical Occupations, EPS, Machine Shop, Masonry, 
--               Networking, Welding, ARET
-- Staff products have class = 'Staff'
-- Same product_id can appear in multiple classes (intentional)
-- ===============================================
